<nb-card [nbSpinner]="loading" nbSpinnerSize="giant" nbSpinnerStatus="primary">
  <nb-card-body class="example-items-col">
    <form [formGroup]="clientForm">
      <nb-tabset>
        <nb-tab tabTitle="Detalhes do Cliente">



          <div class="form-group row">

            <label for="name" class="label col-sm-1 col-form-label">Nome: </label>

            <div class="col-sm-8">

              <input type="text" nbInput fullWidth placeholder="Nome" id="name" name="name" formControlName="name"
                [status]="clientForm.controls.name.touched? (clientForm.controls.name.errors ?'danger' : 'basic') : 'basic' ">
            </div>
          </div>

          <div class="form-group row">

            <label for="phoneNumber" class="label col-sm-1 col-form-label">Telefone: </label>

            <div class="col-sm-2">

              <input type="text" nbInput fullWidth placeholder="Telefone" id="phoneNumber" name="phoneNumber"
                formControlName="phoneNumber"
                [status]="clientForm.controls.phoneNumber.touched? (clientForm.controls.phoneNumber.errors ?'danger' : 'basic') : 'basic' ">
            </div>
          </div>


          <div class="form-group row">

            <label for="email" class="label col-sm-1 col-form-label">E-mail: </label>

            <div class="col-sm-5">

              <input type="text" nbInput fullWidth placeholder="E-mail" id="email" name="email" formControlName="email">
            </div>
          </div>

          <div class="form-group row">

            <label for="zipCode" class="label col-sm-1 col-form-label">CEP: </label>

            <div class="col-sm-2">

              <input type="text" nbInput fullWidth placeholder="CEP" id="zipCode" name="zipCode"
                formControlName="zipCode">
            </div>



            <label for="addressName" class="label col-sm-1 col-form-label">Endereço: </label>

            <div class="col-sm-2">

              <input type="text" nbInput fullWidth placeholder="Endereço" id="addressName" name="addressName"
                formControlName="addressName">
            </div>

            <label for="city" class="label col-sm-1 col-form-label">Cidade: </label>

            <div class="col-sm-2">

              <input type="text" nbInput fullWidth placeholder="Cidade" id="city" name="city" formControlName="city">
            </div>


            <label for="uf" class="label col-sm-1 col-form-label">UF: </label>

            <br />

            <div class="col-sm-2">

              <input type="text" nbInput fullWidth placeholder="UF" id="uf" name="uf" formControlName="uf">
            </div>


          </div>


          <div class="form-group row">

            <label for="cpf" class="label col-sm-1 col-form-label">CPF: </label>

            <div class="col-sm-2">

              <input type="text" nbInput fullWidth placeholder="Nome" id="cpf" name="cpf" formControlName="cpf">
            </div>
          </div>

          <div class="form-group row">

            <label for="observation" class="label col-sm-1 col-form-label">Observações: </label>

            <div class="col-sm-10">

              <textarea rows="5" nbInput fullWidth placeholder="Observações" name="observation" id="observation"
                formControlName="observation"></textarea>
            </div>
          </div>

        </nb-tab>

      </nb-tabset>
    </form>


  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body class="example-items-col">

    <button class="btn" nbButton status="warning" (click)="alterClient()"> Alterar</button>
    <button class="btn" nbButton status="success" [disabled]="!clientForm.valid" (click)="save()"> Salvar </button>
    <button class="btn" nbButton status="danger" (click)="delete()"> Excluir</button>

  </nb-card-body>
</nb-card>
