<nb-card size="medium">
  <nb-card-header>
   <span> Produtos </span>
   <form [formGroup]="searchForm">
    <nb-form-field>

        <nb-icon nbPrefix icon="search-outline" ></nb-icon>
        <input id="search" name="search" type="text" placeholder="Search..." formControlName="search" nbInput (keyup)="search($event)">

    </nb-form-field>
  </form>
  </nb-card-header>
<nb-card-body>

<nb-list>
  <nb-list-item class="item" *ngFor="let product of products" (click)="click(product)">
    <div>
      <nb-icon icon="inbox-outline" style="margin-right: 50px"  ></nb-icon>
    </div>
       <span>{{product.description}}</span>
  </nb-list-item>

</nb-list>

</nb-card-body>
</nb-card>


