<nb-card [nbSpinner]="loading" nbSpinnerStatus="danger" nbSpinnerSize="large">
  <nb-card-body class="example-items-col">

    <form [formGroup]="purchasesForm">


      <nb-tabset>
        <nb-tab tabTitle="Adicionar Compra">

          <div>
            <div class="form-group">
              <label for="purchaseDate" class="label">Data da compra</label>
              <div>
                <input nbInput id="purchaseDate" placeholder="Data da compra" name="purchaseDate"
                  [value]="dateFormatLocale(purchase?.purchaseDate)" disabled>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label for="platform" class="label">Plataforma</label>
                <div>
                  <input type="text" id="platform" name="platform" [value]="platform?.name" nbInput disabled>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="storeName" class="label">Nome da Loja</label>
                <div>
                  <input type="text" id="storeName" name="storeName" nbInput [value]="purchase?.storeName" disabled>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group">
                <label for="orderId" class="label">ID do Pedido</label>
                <div>
                  <input type="text" id="orderId" name="orderId" nbInput [value]="purchase?.orderId" disabled>
                </div>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col-sm-3">
              <div class="form-group">
                <label for="product" class="label">Produto</label>
                <div>
                  <input type="text" id="product" name="product" nbInput [value]="purchase?.product.description"
                    disabled>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group">
                <label for="quantity" class="label">Quantidade</label>
                <div>
                  <input type="text" id="quantity" name="quantity" nbInput [value]="purchase?.quantity" disabled>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group">
                <label for="unitPrice" class="label">Preço Unitario</label>
                <div>
                  <input type="text" id="unitPrice" name="unitPrice" nbInput [value]="purchase?.unitPrice" disabled>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group">
                <label for="totalPrice" class="label">Preço Total</label>
                <div>
                  <input type="text" id="totalPrice" name="totalPrice" nbInput [value]="purchase?.totalPrice"
                    prefix="R$" mask="separator.2" thousandSeparator="." disabled>
                </div>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-sm-3">
              <div class="form-group">
                <label for="trackingCode" class="label">Código de Rastreio</label>
                <div>
                  <input type="text" id="trackingCode" name="trackingCode" formControlName="trackingCode" nbInput
                    placeholder="Código de  Rastreio">
                </div>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group">
                <div>
                  <nb-toggle [(checked)]="productArrived" status="success" id="productArrived" name="productArrived"
                    formControlName="productArrived">Chegou?</nb-toggle>
                </div>
              </div>
            </div>


          </div>

          <div class="row">

            <div class="col-sm-12">
              <div class="form-group">
                <label for="observation" class="label">Observações</label>
                <div>
                  <textarea rows="5" id="observation" name="observation" formControlName="observation" nbInput fullWidth
                    placeholder="Observações"></textarea>
                </div>
              </div>
            </div>
          </div>

        </nb-tab>
      </nb-tabset>
    </form>

    <div class="buttons-row">

      <button class="btn" nbButton status="warning" (click)="alter()" [disabled]="!activateButton()"> Alterar</button>
      <button class="btn" nbButton status="success" [disabled]="!purchasesForm.valid" (click)="save()"> Salvar </button>
      <button class="btn" nbButton status="danger" (click)="delete()" [disabled]="!activateButton()"> Excluir</button>


    </div>
  </nb-card-body>

</nb-card>
